.Rproj.user
.Rhistory
.RData
faf35_data.csv
data/cbp_data.Rdata
data/faf_data.Rdata
data/faf_data_full.Rdata
.README.md.swp
trucksim_disagg.Rproj
faf_trucks.Rdata
disaggregated_trucks.Rdata
truck_plans.Rdata
.idea
data/faf_trucks.csv
data/make_table.csv
data/use_table.csv
.population.xml.gz.swp
population.xml
population.xml.gz
ienodes.csv
*.prof
*.swp
tract_employment.csv
truckplans.pyc
facility_coords.csv
data_raw/Cbp07co.txt
data_raw/cbp07co.zip
data_raw/faf3_5.zip
